body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #F4F5F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  width: 1920px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #F4F5F7;
  border-bottom: 1px solid black;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  font-weight: 600;
}

.profile-menu {
  position: absolute;
  left: 50%;                           /* 중앙 기준 */
  transform: translateX(calc(100% + clamp(40px, 30vw, 210px)));
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: brightness(0.9) grayscale(0.2);
  cursor: pointer;
}

/* 가로 드롭다운 */
.dropdown {
  width: 130px;
  height: 120px;
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 10px 12px;
  min-width: 140px;
}

.dropdown a{
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

.dropdown a:hover{
  background-color: #eee;
}

.logout-btn {
  display: block;
  width: 100%;
  background: none;
  border: none;
  padding: 10px 0;
  text-align: center;
  font: inherit;
  cursor: pointer;
  color: black;
}

.logout-btn:hover {
  background-color: #eee;
}


.profile-menu.active .dropdown {
  display: block;
}

.edit-container {
  width: 350px;
  margin-top: 60px;
  padding: 40px;
  text-align: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

label {
  margin-top: 15px;
  font-weight: 600;
  font-size: 14px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #bbb;
}

.helper-text {
  font-size: 12px;
  color: #e74c3c;
  margin-top: 4px;
  margin-bottom: 10px;
}

.submit-btn {
  align-self: center;
  width: 100%;
  height: 44px;
  border: none;
  border-radius: 6px;
  background-color: #ACA0EB;
  color: white;
  font-weight: bold;
  margin-top: 14px;
  cursor: pointer;
}

/* 활성화된 버튼 */
.submit-btn.enabled {
  background-color: #7F6AEE;
}

/* 토스트 메시지 */
#toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #7F6AEE;
  color: #fff;
  padding: 14px 26px;
  border-radius: 20px;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

#toast.show {
  opacity: 1;
}